<html>
<head>
	<link rel="icon" href="data:,">
</head>
<body>
	<h1>Webpush Demo</h1>
	<script 
		type="text/javascript" 
		src="static/register_service_worker.js">
	</script>
	<script type="text/javascript">
        Notification.requestPermission().then(function(permission) {
            if (permission === 'granted') {
                registerServiceWorker(
                    "static/service_worker.js",
                    "{{config['VAPID_PUBLIC_KEY']}}",
                    "/api/push-subscriptions"
                );
            } else {
                console.log('Notification permission denied.');
            }
        });
	</script>
</body>
</html>